:root{
  --main-radius:5px;
  --main-padding:5px;
}
*{
  list-style: none;
  box-sizing: border-box;
  font-family:'Roboto', sans-serif;
}
.container{
  display:grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 1.5fr 1.2fr 0.8fr 1.2fr;
  grid-template-areas: 
  "navbar navbar navbar navbar"
  "main main main main"
  "side cont-1 cont-1 cont-1"
  "side cont-2 cont-2 cont-2"
  "side cont-3 cont-3 cont-3"
  "pie pie pie pie";;
  grid-gap: 1rem;
  font-family:'Roboto', sans-serif;
  font-weight: 700;
  font-size: 15px;
}

/*BARRA DE NAVEGACION*/
.navbar{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  grid-area:navbar;
  border-radius: var(--main-radius);
}
.navbar li a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.navbar ul{
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #535C7B;
}
.navbar li a:hover{
  background-color: rgb(45, 70, 94);
}
.navbar:hover{
  box-shadow: 0 4px 8px 0 rgba(38, 72, 95, 0.76)
}
/*------------------*/
main{
  color:black;
  background: #E4E7E4;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  grid-area:main;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  text-align: center;
}
main figure img{
  max-width:100%;
  height: auto;
  padding-left: 20px;
  padding-bottom:20px;
  float:right;
}
main p{
  padding:10px;
}
main:hover{
  box-shadow: 0 4px 8px 0 rgba(38, 72, 95, 0.76)
}

/*------------------*/
.side{
  color:black;
  background: #E4E7E4;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  grid-area:side;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  padding:20px;
}
.side:hover{
  box-shadow: 0 4px 8px 0 rgba(38, 72, 95, 0.76)
}

.barra {
  width: 100%;
  background-color: #ddd;
}

.barra-porc-html {
  text-align: right;
  width: 90%; background-color: #04AA6D;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}

.barra {
  width: 100%;
  background-color: #ddd;
}

.barra-porc-php {
  text-align: right;
  width: 80%; background-color: #0446aa;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}

.barra {
  width: 100%;
  background-color: #ddd;
}

.barra-porc-mysql {
  text-align: right;
  width: 100%; background-color: #049faa;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}

/*------------------*/
.cont-1{
  color:black;
  background: #E4E7E4;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  grid-area:cont-1;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  text-align: center;
}
.cont-1:hover{
  box-shadow: 0 4px 8px 0 rgba(38, 72, 95, 0.76)
}

/*------------------*/
.cont-2{
  color:black;
  background: #E4E7E4; 
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  grid-area:cont-2;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  text-align: center;
}
.cont-2:hover{
  box-shadow: 0 4px 8px 0 rgba(38, 72, 95, 0.76)

}

/*------------------*/
.cont-3{
  color:black;
  background: #E4E7E4;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  grid-area:cont-3;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  text-align: center;
}
.cont-3:hover{
  box-shadow: 0 4px 8px 0 rgba(38, 72, 95, 0.76)
}

/*------------------*/
.pie{
  color:rgb(39, 38, 38);
  background: #89C4E1;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  grid-area:pie;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  text-align: center;
}
.pie:hover{
  box-shadow: 0 4px 8px 0 rgba(38, 72, 95, 0.76)
}
/*MODO OSCURO*/
.modo-oscuro {
  background-color: rgb(37, 34, 34);
}
.modo-oscuro .side{
  background-color: rgb(41, 38, 38);
  color:white;
}
.modo-oscuro main{
  background-color: rgb(41, 38, 38);
  color:white;
}
.modo-oscuro .cont-1{
  background-color: rgb(41, 38, 38);
  color:white;
}
.modo-oscuro .cont-2{
  background-color: rgb(41, 38, 38);
  color:white;
}
.modo-oscuro .cont-3{
  background-color: rgb(41, 38, 38);
  color:white;
}
.modo-oscuro .navbar ul{
  background-color: #262650;
}
.modo-oscuro .pie{
  background-color: #262650;
  color:white;
}
.modo-oscuro #botonOscuro{
  border: 1px solid;
  background-color: #111827;
}

#botonOscuro {
  border: 1px solid black;
  background-color: #111827;
  box-sizing: border-box;
  color: #FFFFFF;
  width: auto;
}

#botonOscuro {
  background-color: #111827;
  font-size: 40px;
  float:right;
}
/*------------------*/

@media only screen and (max-width:700px){
  .container {
    grid-template-columns:1fr;
    grid-template-rows: 0.4fr 0.4fr 2.2fr 1.2fr 1.2fr 1.2fr 1fr;
    grid-template-areas: 
    "navbar"
    "side"
    "main"
    "cont-1"
    "cont-2"
    "cont-3"
    "pie";
  }
}